<!-- im sorry for this UI -->
<select id="number">
<option value="-1" selected disabled>Select One</option>
</select>
<button id="loadconvo">Load Convo</button>
<div id="messages"></div>

<div>
    <input type="text" id="message" placeholder="Message">
    <button id="send">Send</button>
</div>
<script src="javascript/dash.js"></script>
